@import './settings.scss';

h3 {
  font-size: $header-h3;
  letter-spacing: 1.4px;
}

p {
  font-size: $font-normal;
}

.link,
.link:active,
.link:visited,
.link:link {
  text-decoration: none;
  color: $color-font-main;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

/* helper classes */
.active-link {
  color: $active-link;
}
