@import './settings.scss';

h3 {
  font-size: $header-h3;
  letter-spacing: 1.4px;
}
h2 {
  font-size: $header-h2;
  letter-spacing: 1.4px;
}

p {
  font-size: $font-normal;
}

.link,
.link:active,
.link:visited,
.link:link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.link,
.link:active,
.link:visited,
.link:link,
a,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: $color-font-main;
  cursor: pointer;
}

a,
a:active,
a:visited,
a:link {
  margin: 0;
  font-size: $font-normal;
}

strong {
  letter-spacing: 1.2px;
}

img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
}

/* buttons */
button {
  border: none;
  // border-radius: 5px;
  // background: $color-button-second;
  padding: 1rem 4.5rem;
  margin: 1rem 1.5rem 1rem 0;
  outline: none;
  font-size: $font-normal;
  // transition: border 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: border 0.2s;
  background: none;
}

.btn {
  &-span {
    // color: $color-font-dark;
    font-weight: 600;
    transition: all 0.8s;
    margin: 0 1rem;
    display: inline-block;
    cursor: pointer;
  }
}

// .btn:hover {
//   // box-shadow: inset 0 5rem 0 0 $color-hover;
//   border-bottom: 1px solid $color-hover;
// }
.btn:hover .btn-span {
  // color: $color-font-main;
  color: $hover-link;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns:
    [full-start] 10rem [center-start] repeat(10, minmax(min-content, 14rem))
    [center-end] 1fr[full-end];
  gap: 2rem;
  justify-items: stretch center;
  align-items: center;
}

/* helper classes */
.active-link {
  color: $active-link;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-group {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  font-size: 4.5rem;
  margin: 2rem;
  transition: all 0.3s;
}

.icon-group:hover {
  color: $hover-link;
}
