@import '../../../styles/settings.scss';

.Projects {
  &__Container {
    position: relative;
  }
  &-bg {
    font-size: 38rem;
    color: $color-font-contrast-second;
    opacity: 0.15;
  }
  &__Content {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  &__Project {
    display: flex;
    flex-direction: column;
  }
  &-photo {
    border-radius: 0;
  }
}
